<ion-view title="Sobre o iVDM">

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content>

        <div class="padding">
    		<p>
    		    O iVDM - Indicador Vai Dar Merda - calcula as chances de uma atividade dar certo (ou não) com base nos dados informados.
    		</p>
    		<p>
                Utilize o iVDM para divertir-se com seus amigos e se planejar antes de tirar aquele projeto da gaveta.
            </p>

            <br />

    		<b>Informações</b>

            <br /><br />

    		<b>Versão do app:</b> 1.14<br />
    		<b>Desenvolvedor:</b> Lucas Moreira<br />
    		<b>Página:</b> ivdm.lucasmoreira.com.br

            <br /><br />

            <p class="text-muted">
               * O algoritmo do iVDM é de carater recreativo e não deve ser levado em consideração na tomada de decisões.
            </p>
        </div><!-- /.pnadding -->

	</ion-content>

</ion-view>