<ion-view title="iVDM">

	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content>

	   <h5 class="padding">
	       Informe os valores abaixo para calcular o iVDM da atividade a ser feita.
	   </h5>

		<div class="list">

			<div class="item range range-positive">
				<span class="range-title" ng-click="setRangeToOne('range1')">Urgência</span>
				<input type="range" name="volume" ng-model="data.range1" min="1" max="10" value="{{ data.range1 }}" step="1">
				<span class="range-value bg-positive">{{ data.range1 }}</span>
			</div>
			<div class="item range range-positive">
				<span class="range-title" ng-click="setRangeToOne('range2')">Complexidade</span>
				<input type="range" name="volume" ng-model="data.range2" min="1" max="10" value="{{ data.range2 }}" step="1">
				<span class="range-value bg-positive">{{ data.range2 }}</span>
			</div>

			<div class="item range range-positive">
				<span class="range-title" ng-click="setRangeToOne('range3')">Empolgação</span>
				<input type="range" name="volume" ng-model="data.range3" min="1" max="10" value="{{ data.range3 }}" step="1">
				<span class="range-value bg-positive">{{ data.range3 }}</span>
			</div>

			<div class="item range range-positive">
				<span class="range-title" ng-click="setRangeToOne('range4')">Habilidade</span>
				<input type="range" name="volume" ng-model="data.range4" min="1" max="10" value="{{ data.range4 }}" step="1">
				<span class="range-value bg-positive">{{ data.range4 }}</span>
			</div>

			<div class="item range range-positive">
				<span class="range-title" ng-click="setRangeToOne('range5')">Vontade</span>
				<input type="range" name="volume" ng-model="data.range5" min="1" max="10" value="{{ data.range1 }}" step="1">
				<span class="range-value bg-positive">{{ data.range5 }}</span>
			</div>

		</div>
	</ion-content>

	<div class="bar bar-footer bar-positive">
		<button ng-click="doCalc()" class="button button-clear button-calc text-center">
			<i class="icon ion-ios-gear-outline"></i>
			Calcular iVDM
		</button>
	</div>

</ion-view>