<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu side="right" expose-aside-when="large">

        <ion-header-bar class="bar-positive">
            <h1 class="title">iVDM</h1>
        </ion-header-bar>

		<ion-content class="has-header">

			<div class="list">
				<a class="item item-icon-left" menu-close href="#/main">
					<i class="icon ion-ios-bolt-outline energized"></i>
					Calcular iVDM
				</a>
				<a class="item item-icon-left" menu-close href="#/app/shares">
					<i class="icon ion-ios-people-outline royal"></i>
					Compartilhados
				</a>
				<a class="item item-icon-left" menu-close href="#/app/about">
                    <i class="icon ion-ios-information-outline royal"></i>
                    Sobre o iVDM
                </a>
			</div>

            <p class="padding text-muted">
                <b>iVDM - indicador Vai Dar Merda</b>
                <br /><br />
                O iVDM ajuda você a calcular o risco na execução de alguma atividade.
            </p>

		</ion-content>
	</ion-side-menu>

	<ion-side-menu-content>
		<ion-nav-bar class="bar bar-stable">
			<ion-nav-back-button class="button-clear">Voltar</ion-nav-back-button>
		</ion-nav-bar>

		<ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>

</ion-side-menus>