<ion-view title="iVDM" class="result-view">

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content class="has-header">

		<div class="text-center">
		    <h3>Chances de dar merda:</h3>
		    <h1 class="positive">{{ results.hash }}<small>%</small></h1>
		    <pre><h5 class="padding">{{ results.valuation }}</h5></pre>
		</div>

	</ion-content>

	<div class="bar bar-footer bar-balanced">
		<button ng-click="doShare({{ results.hash }})" class="button button-clear button-calc text-center">
			<i class="icon ion-chatbox-working"></i>
			Compartilhe
		</button>
	</div>

</ion-view>