<ion-view title="Compartilhados">

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content class="has-header shared">

        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
{{ testing }}
        <div class="list">
            <div class="item" ng-repeat="item in shared track by $index">
                <span class="shared-ivdm bg-positive padding">
                    <span class="ivdm-label">iVDM</span>
                    {{ item.ivdm }}<small>%</small>
                </span>
                {{ item.title }}
                <div class="shared-date text-muted">
                    <small am-time-ago="item.created_at"></small>
                </div>
            </div>
		</div>

	</ion-content>

</ion-view>