/* Empty. Add your own CSS if you like */

.range-title {
	padding-right: 20px;
	font-weight: bold;
	width: 130px;
}

.range-value {
	font-weight: bold;
	background-color: #ccc;
	color: #fff;
	display: inline-block;
	padding: 5px;
	width: 35px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
}

button.button-calc {
	font-weight: bold;
}

.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.text-muted {
    color: #999;
}

.result-view {
    /*
    background-image: url(../img/toilet.png);
    background-repeat: no-repeat;
    background-position: top center;
    */
}

.result-view .has-header h1 {
    font-size: 7em;
    line-height: 1.5em;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

.result-view .has-header h1 small {
    font-size: .5em;
}

.result-view .has-header h3 {
    font-size: 1.7em;
    line-height: 1.5em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10%;
}

.result-view .has-header h5 {
    font-size: 1.7em;
    line-height: 1em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10%;
}

.titleCharsLeft {
    color: #666;
    font-size: .9em;
    margin-top: 2px;
}

.shared .list .item {
    overflow: hidden;
    white-space: initial;
}

.shared-ivdm {
    font-size: 1.8em;
    line-height: 1.8em;
    height: 3em;
    width: 3.1em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 20px;
}

.shared-ivdm .ivdm-label {
    font-size: .4em;
    line-height: .3em;
    display: block;
    margin-top: 15px;
}

.shared-ivdm small {
    font-size: .7em;
}

.shared-date {
    margin-top: 10px;
}
